.header-left {
  background-color: #fff;
  width: 30%;
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
  padding-bottom: 30px;
}
.header-left .box-avatar,
.header-left .box-avatar .thumb,
.header-left .toolbar,
.header-left .control,
.header-left .name {
  height: 100%;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
  white-space: nowrap;
}
.btn-logout{
  cursor: pointer;
}
.header-left .head {
  background-color: #f37226;
  overflow: hidden;
  padding: 10px;
}
.header-left .head .toolbar {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.header-left .head .toolbar ul {
  display: block;
  text-align: center;
}
.header-left .head .toolbar ul li {
  display: inline-block;
  padding: 0 5px;
  white-space: nowrap;
}
.header-left .head .toolbar ul li a {
  color: #fff;
}
.header-left .head .circle strong {
  font-weight: normal;
}
.header-left .head .material-icons {
  font-size: 20px;
}
.header-left .head .box-avatar {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  margin-top: 22px;
  position: relative;
}
.header-left .head .box-avatar .thumb {
  display: block;
  border-radius: 100%;
  text-align: center;
}
.header-left .head .box-avatar .thumb img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  max-width: 100%;
  width: 120px;
}
.header-left .head .box-avatar .name {
  margin-top: 15px;
  font-size: 1.4em;
  color: #fff;
  font-weight: bold;
}
.header-left .head .show-menu {
  float: right;
}
.header-left .control .point {
  padding: 0 0 15px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.header-left .control .point .num {
  font-size: 4em;
  line-height: 1.2em;
  color: #141312;
  font-weight: lighter;
  white-space: nowrap;
}
.header-left .control .point .text {
  font-size: 1.2em;
  margin-top: 0;
  white-space: nowrap;
}
.header-left .control .point .btn {
  margin-top: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  border: 1px solid transparent;
  background-color: #eeeeee;
  color: #141312;
  padding: 5px 20px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-left .control .point .btn:hover{
  border: 1px solid #000;
}
.header-left .control .navigation {
  padding-top: 10px;
}
.header-left .control .navigation ul li {
  display: block;
}
.header-left .control .navigation ul li a {
  padding: 10px ;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.header-left .control .navigation ul li a:before {
  content: "";
  background-color: #fff;
  width: 3px;
  height: 100%;
  position: absolute;
  left: -5px;
  top: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-left .control .navigation ul li a .material-icons {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.header-left .control .navigation ul li a .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}
.desktop .header-left .control .navigation ul li:hover a {
  background-color: #fafafa;
}
.desktop .header-left .control .navigation ul li:hover a:before {
  content: "";
  background-color: #f37226;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.header-left .control .navigation ul li.active a {
  background-color: #fafafa;
}
.header-left .control .navigation ul li.active a:before {
  content: "";
  background-color: #f37226;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.header-left .connect-account .inner {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding: 10px;
}
.header-left .connect-account .inner h3 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding: 0 20px;
  white-space: normal;
  text-transform: uppercase;
  line-height: 1.4em;
}
.header-left .connect-account .inner .list-social-connect {
  list-style-type: none;
}
.header-left .connect-account .inner .list-social-connect li {
  list-style-type: none;
  width: 33%;
  float: left;
  margin-bottom: 10px;
}
.header-left .connect-account .inner .list-social-connect li a {
  display: block;
}
.header-left .connect-account .inner .list-social-connect li a:hover .icon {
  color: #fff;
  background-color: #f37226;
}
.header-left .connect-account .inner .list-social-connect li a:hover .text {
  color: #f37226;
}
.header-left .connect-account .inner .list-social-connect li a .icon {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #fafafa;
  color: #aaaaaa;
  border-radius: 5px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  padding-top: 13px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-left .connect-account .inner .list-social-connect li a .text {
  display: block;
  text-align: center;
  margin: 10px 0;
  color: #141312;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.circles {
  margin-bottom: -10px;
}
.circle {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  margin-left: -60px;
  bottom: 14px;
}
.circle sgv {
  vertical-align: top;
}
.circle strong {
  position: absolute;
  top: -34px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
}
.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}
.body-showmenu .header-left {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0!important;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
}
.body-showmenu .header-left .nav-icon2 {
  position: relative;
  z-index: 1111;
}
.body-showmenu .header-left .box-avatar,
.body-showmenu .header-left .box-avatar .thumb,
.body-showmenu .header-left .toolbar,
.body-showmenu .header-left .control,
.body-showmenu .header-left .name {
  opacity: 0;
  height: 0;
  margin: 0!important;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
}
.body-showmenu .box-title .inner .toolbar .show-menu {
  opacity: 1;
  height: auto;
  padding: 8px 10px;
  visibility: inherit;
  width: auto;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
}

.app {
  position: relative;
}
.app .header-left {
  position: relative;
  z-index: 2;
}
.app:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 173px;
  background-color: #fff;
  content: "";
  width: 240px;
  z-index: 1;
  box-shadow: 0px -12px 17px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
  opacity: 1;
  margin-left: 0;
}
.body-showmenu.app:before{
  opacity: 0;
  z-index: -1;
  margin-left: -240px;
  -webkit-transition: all 0.8s ease-in-out 0.4s;
  -o-transition: all 0.8s ease-in-out 0.4s;
  transition: all 0.8s ease-in-out 0.4s;
}

@media only screen and (max-width: 767px) {
  .desktop .app:before {
    display: none;
  }
  .app:before {
    display: none;
  }
  .header-left {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: none
  }
  .body-showmenu .header-left {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%!important;
    height: auto!important;
    z-index: 1000;
    overflow-y: auto;
  }
  .body-showmenu .header-left .box-avatar,
  .body-showmenu .header-left .box-avatar .thumb,
  .body-showmenu .header-left .toolbar,
  .body-showmenu .header-left .control,
  .body-showmenu .header-left .name {
    opacity: 1;
    height: auto;
    margin: 15px 0 0 0!important;
    -webkit-transition: all 0.8s ease-in-out 0.4s;
    -o-transition: all 0.8s ease-in-out 0.4s;
    transition: all 0.8s ease-in-out 0.4s;
  }
  .header-left {
    width: 100%;
  }
}
.btn-logout .text {
  cursor: pointer;
  position: relative;
  top: -4px;
  margin-left: 5px;
}
